.learnmore-button {
  background-color: rgb(24, 19, 34);
  border: 1px solid rgba(60, 42, 94, 0.459);
  color: white;
  height: 60px;
  width: 200px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 24px;
}

.learnmore-button:hover {
  background-color: rgb(29, 17, 53);
  box-shadow: 0px 0px 40px rgba(180, 143, 255, 0.152);
}
