.learnmore-button {
  background-color: rgb(24, 19, 34);
  border: 1px solid rgba(60, 42, 94, 0.459);
  color: white;
  height: 60px;
  width: 200px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 24px;
}
