/* #region GLOBAL */
body,
html {
  margin: 0;
  background-color: rgb(0, 0, 0);
  width: 100%;
  color: white;
  font-family: sans-serif;
  background-position: center;
  background-size: cover;
}
/* #endregion */

/* #region HEADER + NAV */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 24px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  text-transform: lowercase;
  transition: color 0.3s ease;
  font-size: 24px;
}

nav li {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-family: "JetBrains Mono", monospace;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff6e;
}

h1 {
  font-size: 80px;
  margin: 0;
}

.head-separator {
  border: 1px solid rgba(255, 255, 255, 0.1);
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 24px;
}

nav a:hover {
  color: rgb(161, 110, 255);
  text-decoration: underline;
}

nav ul:hover li {
  opacity: 0.4;
  transition: opacity 0.3s ease;
}

nav ul li:hover {
  opacity: 1;
}
/* #endregion */

/* #region Welcome Container */
.welcome-container {
  background: linear-gradient(to right, rgb(40, 28, 63), black 70%);
  height: 500px;
  width: 1440px;
  margin: 0 auto;
  margin-top: 40px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  border: 1px solid rgb(40, 28, 63);
}

.welcome-container-inner {
  padding: 16px 16px 16px 16px;
  height: 50px;
  width: 550px;
}

h2 {
  font-size: 56px;
  margin: 0;
  margin-bottom: 16px;
}

.welcome-container-inner span {
  font-size: 32px;
  color: rgba(255, 255, 255, 0.5);
}

.welcome-container-inner p {
  margin-top: 48px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 100px;
}

.profile-img img {
  height: 500px;
  width: 500px;
}

/* #endregion */
