/* #region GLOBAL */
body,
html {
  margin: 0;
  background-color: rgb(5, 14, 26);
  width: 100%;
  color: white;
  font-family: sans-serif;
  background-position: center;
  background-size: cover;
}
/* #endregion */

/* #region HEADER + NAV */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  text-transform: lowercase;
  transition: color 0.3s ease;
  font-size: 32px;
}

nav a:hover {
  color: #007bff;
}

h1 {
  font-size: 80px;
  margin: 0;
}

.head-separator {
  border: 1px solid rgba(255, 255, 255, 0.1);
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 24px;
}
/* #endregion */
