<section id="about-me" class="about-container">
    <div class="card-content">
        <div class="card-content__collor1">
            @if (isMobile()) {
                <img src="img/02_Ripped_Paper/Option3/Mobile/About_me_4.png" alt="">
            } @else {
                <img src="img/02_Ripped_Paper/Option3/1.png" alt="">
            }
            <div class="card-label">
                <img src="icons/based_icon.png" alt="">
                <p>{{ 'aboutMe.cardtext1' | translate }}</p>
            </div>
        </div>

        <div class="card-content__collor2">
            @if (isMobile()) {
                <img src="img/02_Ripped_Paper/Option3/Mobile/About_me_5.png" alt="">
            } @else {
                <img src="img/02_Ripped_Paper/Option3/3.png" alt="">
            }
            <div class="card-label">
                <img src="icons/location_icon.png" alt="">
                <p>{{ 'aboutMe.cardtext2' | translate }}</p>
            </div>
        </div>

        <div class="card-content__color3">
            @if (isMobile()) {
                <img src="img/02_Ripped_Paper/Option3/Mobile/About_me_6.png" alt="">
            } @else {
                <img src="img/02_Ripped_Paper/Option3/2.png" alt="">
            }
            <div class="card-label">
                <img src="icons/homeoffice_icon.png" alt="">
                <p>{{ 'aboutMe.cardtext3' | translate }}</p>
            </div>
        </div>
    </div>
    <div class="info-content">
        <div class="info-content__head">
            <p>{{ 'aboutMe.subline' | translate }}</p>
        </div>
        <div class="info-content__headline">
            <h2>{{ 'aboutMe.headline' | translate }}</h2>
            <img class="draw-line" src="img/00_Hand-drawn-lines/01_About me/Color option 3.png" alt="">
        </div>
        <div class="info-content_text">
            {{ 'aboutMe.text' | translate }}
        </div>
        <div>
            <button class="btn-pill btn-push btn-push--dark">{{ 'aboutMe.buttonText' | translate }}</button>
        </div>
    </div>
</section>