<section class="footer-container" [class.footer-black]="isBlackMode">
  <div class="footer-wrapper">
    <div class="footer-content-left">
      <div class="footer-content-left-row">
        <div class="footer-logo">
          <a routerLink="/">
            <img src="img/04_Logo/logo2.png" alt="brandlogo" class="logo-default" />
            <img src="img/04_Logo/logo1.png" alt="brandlogo hover" class="logo-hover" />
          </a>
        </div>
        <div class="footer-copyright">
          <p>© Jens Baumann 2024</p>
        </div>
      </div>
      <div class="footer-link">
        <a [routerLink]="['/legal-notice']">
          <img
            src="img/00_Hand-drawn-lines/00_Header/Color_option_3/3.png"
            alt=""
            class="legal-hover-img"
          />
          {{ 'footer.legaltext' | translate }}
        </a>
      </div>
    </div>
    <div class="footer-link-social">
      <div class="footer-link-social__github">
        <img class="footer-social-icon" src="icons/socials/github.png" alt="GitHub" />
        <a target="_blank" href="https://github.com/JensBaumannDev">GitHub</a>
      </div>
      <div class="footer-link-social__linkedin">
        <img class="footer-social-icon" src="icons/socials/linkedin.png" alt="LinkedIn" />
        <a target="_blank" href="https://www.linkedin.com/in/jens-baumann-7a6866315/">LinkedIn</a>
      </div>
      <div class="footer-link-social__email">
        <img class="footer-social-icon" src="icons/socials/mail.png" alt="Email" />
        <a href="mailto:baumannjems@outlook.de">Email</a>
      </div>
    </div>
  </div>
</section>
