<section class="footer-container" [class.footer-black]="isBlackMode">
  <div class="footer-wrapper">
    <div class="footer-content-left">
      <div class="footer-content-left-row">
        <div class="footer-logo">
          <a routerLink="/">
            <img
              src="img/04_Logo/jb-logo.png"
              width="54"
              height="80"
              alt="Jens Baumann Logo"
              class="premium-logo"
            />
          </a>
        </div>
        <div class="footer-copyright">
          <p>© Jens Baumann 2026</p>
        </div>
      </div>
      <div class="footer-link">
        <a [routerLink]="['/legal-notice']">
          <img
            ngSrc="img/00_Hand-drawn-lines/00_Header/Color_option_3/3.png"
            width="150" height="60"
            alt=""
            class="legal-hover-img"
          />
          {{ 'footer.legaltext' | translate }}
        </a>
      </div>
    </div>
    <div class="footer-link-social">
      <div class="footer-link-social__github">
        <img class="footer-social-icon" ngSrc="icons/socials/github.png" width="24" height="24" [attr.alt]="'common.social.github' | translate" />
        <a target="_blank" href="https://github.com/JensBaumannDev">GitHub</a>
      </div>
      <div class="footer-link-social__linkedin">
        <img class="footer-social-icon" ngSrc="icons/socials/linkedin.png" width="24" height="24" [attr.alt]="'common.social.linkedin' | translate" />
        <a target="_blank" href="https://www.linkedin.com/in/jens-baumann-7a6866315/">LinkedIn</a>
      </div>
      <div class="footer-link-social__email">
        <img class="footer-social-icon" ngSrc="icons/socials/mail.png" width="24" height="20" [attr.alt]="'common.social.email' | translate" />
        <a href="mailto:baumannjems@outlook.de">Email</a>
      </div>
    </div>
  </div>
</section>
