<section class="footer-container">
    <div class="footer-wrapper">
        <div class="footer-content-left">
            <div class="footer-content-left-row">
                <div class="footer-logo">
                    <img src="img/04_Logo/logo2.png" alt="">
                </div>
                <div class="footer-copyright">
                    <p>© Jens Baumann 2024</p>
                </div>
            </div>
            <div class="footer-link">
                <a target="_blank" href="/legal-notice">{{'footer.legaltext' | translate}}</a>
            </div>
        </div>
        <div class="footer-link-social">
            <div class="footer-link-social__github">
                <a target="_blank" href="https://github.com/JensBaumannDev">GitHub</a>
            </div>
            <div class="footer-link-social__linkedin">
                <a target="_blank" href="https://www.linkedin.com/in/jens-baumann-7a6866315/">LinkedIn</a>
            </div>
            <div class="footer-link-social__email">
                <a href="mailto:baumannjems@outlook.de">Email</a>
            </div>
        </div>
    </div>
</section>