@use '../../../../src/styles/abstracts/' as *;
@use '../../../../src/styles/components/' as *;

.footer-container {
    @include maxWidth();
    color: $primary-bg-color;
    height: 130px;
    padding-top: 130px;
    padding-top: 130px;
}

.footer-wrapper {
    @include flex($justify-content: space-between, $align-items: flex-end);
    width: 100%;
    gap: 40px;

}

.footer-content-left {
    width: 130px;

    .footer-logo {
        width: 40px;
    }

    .footer-link {
        margin-top: 22px;

        a {
            font-weight: 700;
            color: $primary-bg-color;
            text-decoration: none;
        }
    }
}

.footer-link-social {
    display: contents;
}

.footer-link-social__github,
.footer-link-social__linkedin,
.footer-link-social__email {
    @include flex($align-items: flex-end, $justify-content:center);

    &>a {
        color: $primary-bg-color;
        text-decoration: none;
    }

    height: 70px;
    width: 120px;
}

/* #region Responsive */
@media (max-width: 1025px) {
    .footer-wrapper {
        padding-left: 120px;
    }
}


@media (max-width: 800px) {
    .footer-wrapper {
        gap: 16px;
    }

    .footer-link-social__github,
    .footer-link-social__linkedin,
    .footer-link-social__email {
        width: 90px;
    }
}

@media (max-width: 768px) {
    .footer-wrapper {
        padding-left: 16px;
    }
}

@media (max-width: 600px) {
    .footer-wrapper {
        flex-direction: column;
        align-items: stretch;
        gap: 0;
        padding-left: 16px;
        padding-right: 16px;
        height: auto;
    }

    .footer-content-left {
        @include flex($flex-direction: column);
        width: 100%;
        margin-top: 8px;
        position: relative;
    }

    .footer-content-left-row {
        @include flex($flex-direction: row, $justify-content: space-between, $align-items: center);
        width: 100%;
    }

    .footer-copyright {
        margin-top: 0;
    }

    .footer-logo {
        margin-right: 8px;
    }

    .footer-copyright {
        margin-left: auto;
        margin-bottom: 0;
        margin-top: 0;
    }

    .footer-copyright-link {
        display: flex;
        flex-direction: column;
        margin-top: 8px;
    }

    .footer-link {
        display: block;
        width: 100%;
        text-align: right;
        margin-top: 16px;
    }

    .footer-link-social {
        display: flex;
        justify-content: space-between;
        max-width: 600px;

        &__linkedin {
            justify-content: center;
        }

        &__email {
            justify-content: flex-end;
        }

    }
}