// Colors
$primary-bg-color: #f8f9fa;
$secondary-bg-color: #0e161f;
$highlight1: #24dd80;
$highlight2: #1aa8b5;
$highlight3: #1073ea;

// Breakpoints
$breakpoint-tablet: 1024px;
$breakpoint-mobile: 768px;

// Icon sizes
$icon-svg-size: 22px;