<section id="projects" class="projects-container">
  <div class="projects-content">
    <div class="featured-section">
      <div class="featured-section__left">
        <p class="headline-intro-text">{{ 'projects.subline' | translate }}</p>
        <div class="headline-wrapper">
          <h2>{{ 'projects.headline' | translate }}</h2>
          <img
            class="draw-line"
            src="img/00_Hand-drawn-lines/03_Portfolio/Color_option 3.png"
            alt=""
          />
        </div>
        <p>{{ 'projects.description' | translate }}</p>
      </div>

      <div class="featured-section__right">
        <div class="mockup-container">
          <div class="float-wrapper">
            <img [src]="projects[0].image" alt="Join Laptop" class="laptop-img" />
          </div>
          <div class="img-overlay">
            <button class="btn-pill btn-push">
              {{ 'projects.check' | translate }}
            </button>
          </div>
          <img src="img/06_projects/Sticker.png" alt="Featured" class="sticker-img" />
        </div>
        <div class="featured-info">
          <h3>{{ projects[0].title }}</h3>
          <p>{{ projects[0].descriptionKey | translate }}</p>
          <div class="mobile-button-wrapper">
            <button class="btn-pill btn-push btn-push--dark">{{ 'projects.check' | translate }}</button>
          </div>
        </div>
      </div>
    </div>
    <div class="projects-grid">
      @for (project of projects.slice(1); track project.title) {
        <div class="project-card">
          <div class="project-card__img">
            <img [src]="project.image" [alt]="project.title" />
            <div class="img-overlay">
              <button class="btn-pill btn-push">
                {{ 'projects.check' | translate }}
              </button>
            </div>
          </div>
          <div class="project-card__content">
            <h3>{{ project.title }}</h3>
            <p>{{ project.descriptionKey | translate }}</p>
            <div class="mobile-button-wrapper">
              <button class="btn-pill btn-push btn-push--dark">{{ 'projects.check' | translate }}</button>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</section>
