<section class="colleagues-container">
  <div class="colleagues-content">
    <div class="colleagues-top">
      <img ngSrc="img/03_Stickers/Arrow_blue.png" width="50" height="18" [attr.alt]="'colleagues.arrowAlt' | translate" />
      <p class="headline-intro-text">{{ 'colleagues.intro' | translate }}</p>
      <h2>{{ 'colleagues.headline' | translate }}</h2>
    </div>
    <div class="colleagues-bottom">
      <div class="colleagues-bottom__card1">
        <img ngSrc="img/03_Stickers/02_Testimonials/Color_option_3/A.png" width="60" height="40" alt="" />
        <img class="line-overlay" ngSrc="img/03_Stickers/02_Testimonials/Color_option_3/Line.png" width="400" height="263" alt="" />
        <div class="card-text-content">
          <p class="testimonial-text">{{ 'colleagues.testimonial1' | translate }}</p>
          <div class="card-footer">
            <div class="author-info">
              <p class="author-name">Julia Keller</p>
              <p class="author-title">Fullstack Developer</p>
            </div>
            <a class="linkedin-profile" href="https://www.linkedin.com/in/julia-keller-970409389/" target="_blank">
              <img class="linkedin-icon" ngSrc="icons/socials/linkedin.png" width="24" height="24" [attr.alt]="'colleagues.social.linkedin' | translate" />
              <span>{{ 'colleagues.profile' | translate }}</span>
            </a>
          </div>
        </div>
      </div>
      <div class="colleagues-bottom__card2">
        <img ngSrc="img/03_Stickers/02_Testimonials/Color_option_3/b.png" width="60" height="40" alt="" />
        <img class="line-overlay" ngSrc="img/03_Stickers/02_Testimonials/Color_option_3/Line.png" width="400" height="263" alt="" />
        <div class="card-text-content">
          <p class="testimonial-text">{{ 'colleagues.testimonial2' | translate }}</p>
          <div class="card-footer">
            <div class="author-info">
              <p class="author-name">Calvin Kamp</p>
              <p class="author-title">Fullstack Developer</p>
            </div>
            <a class="linkedin-profile" href="https://calvin-kamp.de/" target="_blank">
              <img class="linkedin-icon" src="icons/socials/www.svg" width="24" height="24" alt="Website" />
              <span>{{ 'colleagues.website' | translate }}</span>
            </a>
          </div>
        </div>
      </div>
      <div class="colleagues-bottom__card3">
        <img ngSrc="img/03_Stickers/02_Testimonials/Color_option_3/A.png" width="60" height="40" alt="" />
        <img class="line-overlay" ngSrc="img/03_Stickers/02_Testimonials/Color_option_3/Line.png" width="400" height="263" alt="" />
        <div class="card-text-content">
          <p class="testimonial-text">{{ 'colleagues.testimonial3' | translate }}</p>
          <div class="card-footer">
            <div class="author-info">
              <p class="author-name">Max Mustermann</p>
              <p class="author-title">Fullstack Developer</p>
            </div>
            <a class="linkedin-profile" href="https://www.linkedin.com" target="_blank">
              <img class="linkedin-icon" src="icons/socials/linkedin.png" [attr.alt]="'colleagues.social.linkedin' | translate" />
              <span>{{ 'colleagues.profile' | translate }}</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
