<section id="contact" class="contact-container">
  <div class="contact-content">
    <div class="contact-headline">
      <p class="headline-intro-text">{{'contact.subline'| translate}}</p>
      <h2 [innerHTML]="'contact.headline' | translate"></h2>
      <p>{{'contact.texttop' | translate}}</p>
      <p>{{'contact.textbottom' | translate}}</p>
      <div class="contact-intro-img">
        <img class="draw-line" src="img/00_Hand-drawn-lines/05_Contact/Color_option_3.png" alt="">
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</section>