@use '../../../styles/abstracts/' as *;
@use '../../../styles/components/' as *;

.legal-hero {
  position: relative;
  overflow: hidden;
  height: rem(430);

  &__background {
    position: absolute;
    inset: 0;
    z-index: -1;
    pointer-events: none;

    img {
      object-fit: cover;
      object-position: bottom;
      transform: scale(1.05);
    }
  }

  &__headline {
    position: relative;
    @include maxWidth();
    padding-top: rem(120);
    color: $primary-bg-color;
  }
}

.legal-content {
  @include maxWidth();
  margin-top: rem(80);

  &__head {
    margin-bottom: rem(24);

    & > h3,
    h4 {
      color: #3355ff;
      margin-top: rem(8);
    }
  }
}

.legal-content p {
  font-size: rem(16);
}

.legal-content__bottom {
  margin-bottom: rem(80);
}

.legal-content__bottom > div {
  margin-bottom: rem(16);

  & > h4 {
    color: #3355ff;
  }
}

/* #region Responsive */
@media (max-width: 1024px) {
  .legal-content {
    padding: 0 rem(16);
  }

  .legal-hero {
    height: rem(350);
    &__headline {
      padding-top: rem(100);

      h2 {
        padding-left: rem(16);
      }
    }
  }
}

@media (max-width: 768px) {
  .legal-hero {
    height: rem(280);
    &__headline {
      padding-top: rem(60);
      h2 {
        font-size: rem(40);
      }
    }
  }

  .legal-content {
    margin-top: rem(40);
    padding: 0 rem(16);
  }
}

@media (max-width: 480px) {
  .legal-hero {
    height: rem(220);
    &__headline {
      padding-top: rem(20);
      h2 {
        font-size: rem(32);
      }
    }
  }

  .legal-content {
    margin-top: rem(32);

    p {
      font-size: rem(15);
    }
  }
}
@media (max-width: 334px) {
  .legal-hero {
    &__headline {
      h2 {
        font-size: rem(30);
      }
    }
  }
}
/* #endregion */
