@use '../../../styles/abstracts/' as *;
@use '../../../styles/components/' as *;

.legal-hero {
  position: relative;
  overflow: hidden;
  height: 430px;

  &__background {
    position: absolute;
    inset: 0;
    z-index: -1;
    pointer-events: none;

    img {
      object-fit: cover;
      object-position: bottom;
      transform: scale(1.05);
    }
  }

  &__headline {
    position: relative;
    @include maxWidth();
    padding-top: 120px;
    color: $primary-bg-color;
  }
}

.legal-content {
  @include maxWidth();
  margin-top: 80px;

  &__head {
    margin-bottom: 24px;

    & > h3,
    h4 {
      color: #3355ff;
      margin-top: 8px;
    }
  }
}

.legal-content p {
  font-size: 16px;
}

.legal-content__bottom {
  margin-bottom: 80px;
}

.legal-content__bottom > div {
  margin-bottom: 16px;

  & > h4 {
    color: #3355ff;
  }
}

/* #region Responsive */
@media (max-width: 1024px) {
  .legal-content {
    padding: 0 16px;
  }

  .legal-hero {
    height: 350px;
    &__headline {
      padding-top: 100px;

      h2 {
        padding-left: 16px;
      }
    }
  }
}

@media (max-width: 768px) {
  .legal-hero {
    height: 280px;
    &__headline {
      padding-top: 60px;
      h2 {
        font-size: 40px;
      }
    }
  }

  .legal-content {
    margin-top: 40px;
    padding: 0 16px;
  }
}

@media (max-width: 480px) {
  .legal-hero {
    height: 220px;
    &__headline {
      padding-top: 20px;
      h2 {
        font-size: 32px;
      }
    }
  }

  .legal-content {
    margin-top: 32px;

    p {
      font-size: 15px;
    }
  }
}
@media (max-width: 334px) {
  .legal-hero {
    &__headline {
      h2 {
        font-size: 30px;
      }
    }
  }
}
/* #endregion */
