<section id="skills" class="skills-container">
  <div class="skills-content">
    <div class="top-content">
      <div class="top-content__headline">
        <div class="top-content__headline-row">
          <p class="headline-intro-text">{{ 'skills.head' | translate }}</p>
          <div class="headline-wrapper">
            <h2>Skills</h2>
            <img class="draw-line" src="img/00_Hand-drawn-lines/02_Skills/Color_option_3.png" alt="" />
          </div>
        </div>
        <div class="top-content__img">
          @if (isMobileView()) {
          <img src="img/02_Ripped_Paper/1B.Mobile.png" [attr.alt]="'skills.cardImgAltMobile' | translate" />
          } @else {
          <img src="img/02_Ripped_Paper/1.Skills_description.png" [attr.alt]="'skills.cardImgAlt' | translate" />
          }
          <p class="top-content__img-text">{{ 'skills.cardtext' | translate }}</p>
        </div>
      </div>
    </div>
    <div class="bottom-content">
      <div class="skill-icons">
        @for (skill of skills; track skill.name) {
        <div class="skill-icons__item">
          <img [src]="skill.icon" [attr.alt]="'skills.iconAlt.' + skill.name | translate" />
          <span>{{ skill.name }}</span>
        </div>
        }
      </div>
      <div class="pull-picture" (click)="triggerPeel()" style="cursor: pointer">
        <button class="pull-picture__a" [class.peel-a]="peeled() === 'out'" [class.peel-back]="peeled() === 'in'">
          <img class="pull-picture__b-arrow" src="img/03_Stickers/Arrow.png"
            [attr.alt]="'skills.arrowAlt' | translate" />
          <p>{{ 'skills.buttonpull' | translate }}</p>
        </button>
        <button class="pull-picture__c">
          <div class="pull-picture__c-content" [class.pull-picture__c-content--visible]="peeled() === 'out'">
            <p>{{ 'skills.currentlearning' | translate }}</p>
            <div class="pull-picture__c-icons">
              @for (skill of interestedSkills; track skill.name) {
              <div class="pull-picture__c-icon">
                <img [src]="skill.icon" [attr.alt]="'skills.iconAlt.' + skill.name | translate" />
                <span>{{ skill.name }}</span>
              </div>
              }
            </div>
          </div>
        </button>
      </div>
    </div>
  </div>
</section>