@use 'sass:math';
@use '../../../../src/styles/abstracts/' as *;
@use '../../../../src/styles/components/' as *;

$skills-padding-desktop: rem(170) rem(120) rem(400);
$skills-padding-tablet: rem(80) rem(24) rem(200);
$skills-padding-mobile: rem(60) rem(12) rem(150);
$skill-icon-size: rem(72);

/* #region LAYOUT */

.skills-container {
  position: relative;
  height: auto;
  overflow: hidden;
  content-visibility: auto;
  contain-intrinsic-size: rem(1000);
}

.skills-background {
  position: absolute;
  inset: 0;
  z-index: -1;
  pointer-events: none;
  img {
    object-fit: cover;
    object-position: bottom;
    transform: scale(1.05);
  }
}

.skills-content {
  @include maxWidth();
  @include flex($flex-direction: column);
  padding: $skills-padding-desktop;
}

/* #endregion */

/* #region TOP CONTENT */

.top-content {
  @include flex($flex-wrap: nowrap, $justify-content: flex-start, $align-items: center);
  gap: rem(48);
  width: 100%;

  &__headline {
    color: $primary-bg-color;
    display: flex;
    gap: rem(48);
  }

  &__headline-row {
    @include flex($flex-direction: column, $align-items: flex-end);
    gap: rem(16);

    .headline-wrapper {
      position: relative;
      width: fit-content;

      & > img {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 120%;
        max-width: none;
        transform: translate(-50%, -50%);
        pointer-events: none;
        z-index: 1;
      }

      & > h2 {
        margin: 0;
        position: relative;
        z-index: 2;
      }
    }
  }

  &__img {
    width: rem(650);
    position: relative;

    img {
      width: 100%;
      display: block;
    }

    &-text {
      @include flex($align-items: center, $justify-content: center);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 95%;
      font-size: clamp(rem(16), 2vw, rem(18));
      z-index: 2;
      color: $secondary-bg-color;
      min-height: rem(24);
      line-height: 0.9;
      text-align: left;
    }
  }
}

/* #endregion */

/* #region BOTTOM CONTENT */

.bottom-content {
  @include flex($flex-direction: row, $align-items: flex-end, $justify-content: flex-end);
  gap: rem(50);
}

.skill-icons {
  display: grid;
  grid-template-columns: repeat(5, $skill-icon-size) rem(200);
  grid-column-gap: rem(80);
  grid-row-gap: rem(50);
  align-items: end;
  justify-content: end;
  margin-top: rem(48);
  text-align: center;

  .pull-picture {
    grid-column: 6;
    grid-row: 1 / 3;
    rotate: 8deg;
  }

  &__item {
    @include flex($flex-direction: column, $align-items: center);
    gap: rem(12);
    height: 100%;

    & > img {
      width: $skill-icon-size;
      height: $skill-icon-size;
      filter: grayscale(1);
      transition:
        filter 0.1s ease,
        transform 0.1s ease;
      transform-origin: bottom center;

      &:hover {
        filter: grayscale(0);
        transform: scale(0.8);
      }
    }

    & > span {
      font-size: rem(18);
      font-weight: 400;
      color: $primary-bg-color;
    }
  }
}

.pull-picture {
  rotate: 8deg;
  display: grid;
  grid-template-areas: 'stack';
  position: relative;
  width: rem(200);
  aspect-ratio: 1 / 1;
  height: auto;
  padding-bottom: 0;

  &__b-arrow {
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translateX(-50%);
    width: 30%;
    height: auto;
    z-index: 4;
    pointer-events: none;
  }

  &__a,
  &__c {
    grid-area: stack;
    width: 100%;
    height: 100%;
    border: none;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: block;
    background-color: transparent;
    outline: none;
    box-shadow: none;
  }

  &__a {
    background-image: url('../../../../public/img/03_Stickers/01_Skills_Peel_off/Color_option_3/A.png');
    z-index: 3;

    & > p {
      @include flex($align-items: center, $justify-content: center);
      position: absolute;
      font-family: 'Kalam-Regular', 'Kalam', cursive;
      font-weight: 400;
      font-size: rem(40);
      color: $primary-bg-color;
      margin: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      inset: 0;
      pointer-events: none;
      padding-top: 25%;
      line-height: 1.1;
    }
  }

  &__c {
    background-image: url('../../../../public/img/03_Stickers/01_Skills_Peel_off/Color_option_3/C.png');
    z-index: 1;
  }

  &__c-content {
    @include flex($align-items: center, $justify-content: center, $flex-direction: column);
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: $primary-bg-color;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.4s ease;
    line-height: 1.1;
    box-sizing: border-box;
    padding: 10%;

    & > p {
      font-size: rem(16);
      margin-bottom: rem(8);
    }

    &--visible {
      opacity: 1;
    }
  }

  &__c-icons {
    @include flex($align-items: center, $justify-content: center);
    gap: 8%;
    width: 100%;
  }

  &__c-icon {
    @include flex($align-items: center, $justify-content: center, $flex-direction: column);
    gap: rem(4);

    img {
      width: clamp(rem(20), 3vw, rem(40));
      height: auto;
      object-fit: contain;
    }

    span {
      font-size: rem(16);
      color: white;
    }
  }
}

/* #endregion */

/* #region ANIMATIONS */

@keyframes peel-a {
  0% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
  50% {
    clip-path: polygon(0% 0%, 0% 0%, 100% 100%, 100% 100%, 0% 100%);
  }
  100% {
    clip-path: polygon(0% 100%, 0% 100%, 0% 100%, 0% 100%, 0% 100%);
  }
}

@keyframes peel-back {
  0% {
    clip-path: polygon(0% 100%, 0% 100%, 0% 100%, 0% 100%, 0% 100%);
  }
  50% {
    clip-path: polygon(0% 0%, 0% 0%, 100% 100%, 100% 100%, 0% 100%);
  }
  100% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}

.peel-a {
  animation: peel-a 0.4s linear forwards;
  pointer-events: none;
}

.peel-back {
  animation: peel-back 0.4s linear both;
}

/* #endregion */

/* #region RESPONSIVE */

@media (max-width: 1180px) {
  .skills-content {
    padding: $skills-padding-tablet;
    align-items: center;
  }

  .top-content {
    justify-content: center;
  }
}

@media (max-width: 1024px) {
  .top-content {
    flex-direction: column;
    gap: rem(24);
    align-items: center;

    &__headline {
      @include flex($flex-direction: column);
    }
  }

  .top-content__img {
    width: 100%;
    max-width: 420px;

    & > p {
      font-size: rem(18);
    }
  }

  .bottom-content {
    justify-content: center;
    gap: rem(70);
  }

  .skill-icons {
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    padding-bottom: rem(20);
    grid-column-gap: clamp(rem(10), 5vw, rem(70));

    &__item > img {
      filter: none;
    }

    .pull-picture {
      grid-column: 2 / 4;
      grid-row: 4;
      width: rem(200);
    }
  }
}

@media (max-width: 768px) {
  .top-content {
    width: 70%;
  }
}

@media (max-width: 590px) {
  .top-content {
    width: 90%;
  }
}

@media (max-width: 370px) {
  .skills-content {
    padding: $skills-padding-mobile;
  }

  .top-content {
    width: 100%;
  }

  .bottom-content {
    gap: rem(16);
    margin-top: rem(24);
    flex-direction: column;
  }

  .skill-icons {
    grid-column-gap: rem(10);
    grid-row-gap: rem(20);
    justify-content: center;
    padding-bottom: 0px;

    .pull-picture {
      grid-column: 1 / 4;
      grid-row: auto;
      width: rem(200);
      justify-self: center;
      margin-top: rem(40);
      transform: translateX(rem(-15));
    }
  }
}

/* #endregion */
