<nav class="navigation" [class.navigation--menu-open]="isMenuOpen()">
  <ng-template #languageSwitcherTemplate>
    <span
      class="language__item"
      [class.language__item--active]="activeLanguageCode() === 'EN'"
      (click)="setLanguage('EN')"
    >
      <span class="language__label">EN</span>
      <img
        ngSrc="img/00_Hand-drawn-lines/00_Header/Color_option_3/Toggle.png"
        width="35" height="35"
        alt=""
        aria-hidden="true"
        class="language__hover-img"
      />
    </span>
    <div
      class="toggle"
      [class.toggle--en]="activeLanguageCode() === 'EN'"
      [class.toggle--de]="activeLanguageCode() === 'DE'"
      (click)="toggleLanguage()"
    >
      <div class="toggle__line"></div>
      <div class="toggle__circle" aria-hidden="true"></div>
    </div>
    <span
      class="language__item"
      [class.language__item--active]="activeLanguageCode() === 'DE'"
      (click)="setLanguage('DE')"
    >
      <span class="language__label">DE</span>
      <img
        ngSrc="img/00_Hand-drawn-lines/00_Header/Color_option_3/Toggle.png"
        width="35" height="35"
        alt=""
        aria-hidden="true"
        class="language__hover-img"
      />
    </span>
  </ng-template>

  <ul>
    <li class="logo-container">
      <a routerLink="/" (click)="closeMenu()">
        <img ngSrc="img/04_Logo/logo2.png" width="45" height="45" priority [attr.alt]="'common.logoAlt' | translate" class="logo-default" />
        <img ngSrc="img/04_Logo/logo1.png" width="45" height="45" priority [attr.alt]="'common.logoHoverAlt' | translate" class="logo-hover" />
      </a>
    </li>
    @for (link of currentNavLinks(); track link.label; let i = $index) {
      <li class="nav-item nav-hover{{ i }}">
        <a [routerLink]="['/']" [fragment]="link.fragment" (click)="closeMenu()">{{
          link.label
        }}</a>
        <img [ngSrc]="link.img" width="316" height="126" alt="" aria-hidden="true" />
      </li>
    }
    <li class="language">
      <ng-container [ngTemplateOutlet]="languageSwitcherTemplate"></ng-container>
    </li>
    <li class="burger-entry">
      <button
        type="button"
        class="burger-button"
        [class.burger-button--open]="isMenuOpen()"
        [attr.aria-expanded]="isMenuOpen()"
        aria-controls="mobile-navigation-panel"
        [attr.aria-label]="isMenuOpen() ? 'Close navigation menu' : 'Open navigation menu'"
        (click)="toggleMenu()"
      >
        <span class="burger-button__line"></span>
        <span class="burger-button__line"></span>
        <span class="burger-button__line"></span>
      </button>
    </li>
  </ul>

  <div
    id="mobile-navigation-panel"
    class="mobile-menu"
    [class.mobile-menu--open]="isMenuOpen()"
  >
    <div class="mobile-menu__content">
      <div class="mobile-menu__links">
        @for (link of currentNavLinks(); track link.label) {
          <a
            [routerLink]="['/']"
            [fragment]="link.fragment"
            class="mobile-menu__link"
            (click)="closeMenu()"
            >{{ link.label }}</a
          >
        }
      </div>

      <div class="mobile-menu__language language language--mobile">
        <ng-container [ngTemplateOutlet]="languageSwitcherTemplate"></ng-container>
      </div>
    </div>

    <div class="mobile-menu__socials">
      @for (social of socialLinks; track social.label) {
        <a
          [href]="social.href"
          class="mobile-menu__social-link"
          [attr.target]="social.isExternal ? '_blank' : null"
          [attr.rel]="social.isExternal ? 'noreferrer' : null"
          [attr.aria-label]="social.label"
        >
          <svg [attr.viewBox]="social.viewBox ?? '0 0 24 24'" aria-hidden="true">
            <path [attr.d]="social.path" />
          </svg>
        </a>
      }
    </div>
  </div>
</nav>
