@font-face {
    font-family: Bricolage-Grotesque;
    src: url(../../assets/fonts/Bricolage-Grotesque.ttf);
}

@font-face {
    font-family: Kalam-Light;
    src: url(../../assets/fonts/Kalam-Light.ttf);
}

@font-face {
    font-family: Kalam-Regular;
    src: url(../../assets/fonts/Kalam-Regular.ttf);
}

@font-face {
    font-family: Kalam-Bold;
    src: url(../../assets/fonts/Kalam-Bold.ttf);
}




