@font-face {
    font-family: Bricolage-Grotesque;
    src: url('../../../public/fonts/Bricolage-Grotesque.ttf');
}

@font-face {
    font-family: Kalam-Light;
    src: url('../../../public/fonts/Kalam-Light.ttf');
}

@font-face {
    font-family: Kalam-Regular;
    src: url('../../../public/fonts/Kalam-Regular.ttf');
}

@font-face {
    font-family: Kalam-Bold;
    src: url('../../../public/fonts/Kalam-Bold.ttf');
}

h1 {
    font-size: clamp(54px, 8.8vw, 128px);
    font-weight: 700;
}
